[submodule "leshan"]
	path = leshan
	url = https://github.com/AnyLedger/leshan
[submodule "anyledger-hub-web"]
	path = anyledger-hub-web
	url = https://github.com/AnyLedger/anyledger-hub-web
[submodule "wait-for-it"]
	path = wait-for-it
	url = https://github.com/vishnubob/wait-for-it
