[submodule "leshan"]
	path = leshan
	url = https://github.com/AnyLedger/leshan
[submodule "anyledger-hub-web"]
	path = anyledger-hub-web
	url = https://github.com/AnyLedger/anyledger-hub-web
[submodule "ethereum-private-network"]
	path = ethereum-private-network
	url = https://github.com/AnyLedger/ethereum-private-network
[submodule "smart-contracts"]
	path = smart-contracts
	url = https://github.com/AnyLedger/smart-contracts
